@charset "utf-8";

* {
  box-sizing: border-box;
  font-family: serif;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}

/*ヘッダーのCSS*/
.logo {
  font-size: 23px;
  margin-right: 530px;
}
.header {
  display: flex;
  align-items: center;
  height: 90px;
  width: 100vw;
  border-bottom: 1px solid #CCCCCC;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 70px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu a{
  color: black;
}
.header-menu li{
  margin-right: 30px;
}
.mail-icon {
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}
.trial {
  line-height: 50px;
  padding: 0em 1em;
  background: #BC9692;
  border-radius: 15px;
  margin-left: 60px;
  font-size: 15px;
  border: 0.3px solid #CCCCCC;
}
.trial a {
  color: white;
}
.inquiry {
  line-height: 50px;
  padding: 0em 1em;
  background: #d6bcab;
  border-radius: 15px;
  font-size: 15px;
  border: 0.1px solid #CCCCCC;
}
.inquiry a {
  color: white;
}

/*フッターのCSS*/
.footer {
  height: 60px;
  width: 100vw;
  border-top: 1px solid #CCCCCC;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 13px;
  padding-right: 20px;
  background-color: #ffffff;
}
.footer-address {
  margin-right: 20px;
  font-size: 13px;
}

/*トップページのコンテンツのCSS*/
.container {
	position: relative;
	max-width: 100%;
	height: 400px;
}

.image {
	position: absolute;
	width: 100%;
	opacity: 0;
	animation: change-img-anim 30s infinite;
  width: 100%;
  height: calc(100vh - 30px);
  object-fit: cover;
  opacity: 0.8;
  vertical-align: bottom;
}

.image:nth-of-type(1) {
	animation-delay: 0s;
}
.image:nth-of-type(2) {
	animation-delay: 10s;
}
.image:nth-of-type(3) {
	animation-delay: 20s;
}

@keyframes change-img-anim {
	0%{ opacity: 0;}
	10%{ opacity: 1;}
	90%{ opacity: 1;}
	100%{ opacity: 0;}
}
.contents {
  width: 100vw;
}

.class-images {
  padding-top: 30px;
}

.class-intro {
  margin-top: 516px;
  height: 90px;
  width: 100%;
  padding: 31px 130px;
  font-size: 28px;
  background-color: #BC9692;
  color: white;
}
.text-area {
  padding-top: 90px;
  text-align: center;
  display: block;
}
.text {
  font-size: 21px;
  text-align: left;
  display: inline-block;
  line-height: 40px;
}
#lesson-guide-space {
  height: 90px;
}
.lesson-guide {
  height: 90px;
  width: 100%;
  padding: 32px 110px;
  font-size: 26px;
  background-color: #d6bcab;
  color: white;
}
.course1 {
  border-bottom: double 4px #E57F75;
  padding-bottom: 8px;
  font-size: 23px;
}
.course2 {
  border-bottom: double 4px #BC9692;
  padding-bottom: 8px;
  font-size: 23px;
}
.course3 {
  border-bottom: double 4px #B8B1AB;
  padding-bottom: 8px;
  font-size: 23px;
}
#instructor-intro-space {
  height: 90px;
}
.instructor-intro {
  height: 90px;
  width: 100%;
  padding: 32px 110px;
  font-size: 26px;
  background-color: #d6bcab;
  color: white;
}
.music-icon {
  height: 30px;
  vertical-align: middle;
  padding-bottom: 5px;
}
.instructor-area {
  display: flex;
  padding-top: 90px;
  width:830px;
  margin: 0 auto;
}
.instructor-img {
  height: 400px;
  margin-right: 45px;
  border-radius: 10px;
}
#news-space {
  height: 90px;
}
.news {
  height: 90px;
  width: 100%;
  padding: 32px 110px;
  font-size: 26px;
  background-color: #d6bcab;
  color: white;
}
.guide {
  height: 1000px;
}

/*フォームのCSS*/
.form-contents {
  padding-top: 140px;
  background: #f7f7f7;
  height: calc(100vh - 60px);
  width: 100vw;
}
.form-area {
  height: 698px;
  width: 670px;
  background-color: white;
  border: 1px solid #CCCCCC;
  margin: 0 auto;
  border-radius: 15px;
  padding: 30px;
}

.form-title {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 21px;
}
.form {
  width: 400px;
  height: 600px;
  margin: 0 auto;
}
.form input {
  border-left: white;
  border-top: white;
  border-right: white;
  border-bottom: 1px solid #CCCCCC;
  height: 60px;
  width: 400px;
  font-size: 16px;
  padding: 0 10px;
}
.form textarea {
  border-left: white;
  border-top: white;
  border-right: white;
  border-bottom: 1px solid #CCCCCC;
  width: 400px;
  height: 180px;
  font-size: 16px;
  padding: 15px 10px;
}
.form-submit {
  width: 100px;
  margin: 0 auto;
  margin-top: 25px;
}
.submit {
  height: 45px;
  width: 100px;
  background-color: white;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
}

/*体験レッスンページのCSS*/
.trial-contents {
  height: calc(100vh - 60px);
  overflow: scroll;
  padding-bottom: 48px;
}
.trial-contents::-webkit-scrollbar{
  display: none;
}
.trial-form-area {
  height: 998px;
}
.check {
  position: fixed;
  top: 150px;
  left: 1210px;
}
.check-title {
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  width: 304px;
  font-size: 18px;
  padding-bottom: 15px;
}
.check-list li {
  margin-bottom: 15px;
}
.link {
  text-decoration: underline;
}

/*プライバシーポリシーのページのCSS*/
.privacy-contents {
  background-color: #f7f7f7;
  height: calc(100vh - 60px);
  overflow: scroll;
  padding-bottom: 48px;
  padding-top: 140px;
}
.privacy-contents::-webkit-scrollbar{
  display: none;
}
.privacy-contents-area {
  height: 800px;
  width: 670px;
  background-color: white;
  margin: 0 auto;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  padding: 30px;
}
.privacy-title {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 21px; 
}
.privacy-text-title {
  font-size: 18px;
  margin-bottom: 20px;
}
.privacy-text li {
  line-height: 18px;
  margin-bottom: 10px;
}