@charset "utf-8";

* {
  box-sizing: border-box;
  font-family: serif;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}

/*ヘッダーのCSS*/

.logo {
  font-size: 21px;
}
.logo1 {
  font-size: 20px;
  padding-left: 0px;
  padding-bottom: 3px;
  letter-spacing: 1.5px;
  padding-top: 3px;
  margin-right: 5px;
}
.logo2 {
  padding-top: 3.5px;
}
.text-area1 {
  position:relative;
}
.piano {
  position:absolute;
  right: 65px;
  bottom: -65px;
  height: 320px;
  transform: rotate( 18deg );
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100vw;
  border-bottom: 1px solid #CCCCCC;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 120px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.sub-title {
  font-size: 15px;
}
/* ボタン本体のスタイル */
.heart-button {
  /* ボタン要素の大きさや色 */
  position: relative;
  display: inline-block;
  display: flex;

  /* その他必要なスタイル */
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

/* ハートの共通スタイル */
.heart-button::before,
.heart-button::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
}

/* 左上のハートのスタイル */
.heart-button::before {
  background-image: url("../img/music_icon1.svg");
  top: -10px;
  left: -18px;
}

/* 右下のハートのスタイル */
.heart-button::after {
  background-image: url("../img/music_icon2.svg");
  bottom: -14px;
  right: -19px;
}

/* ========= ホバー時のスタイル ======== */
/* ボタンホバー時の左上のハートのスタイル */
.heart-button:hover::before {
  animation: heart 1.5s infinite ease-out;
}

/* ボタンホバー時の右下のハートのスタイル */
.heart-button:hover::after {
  animation: heart 1.5s 0.2s infinite ease-out;
}

/* ========= アニメーションの設定 ======== */
@keyframes heart {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px) scale(1.4);
    opacity: 0;
  }
}

/* ========= SPのスタイル ======== */
@media screen and (max-width: 768px) {
  
  /* 左上のハートのスタイル */
  .heart-button::before {
    animation: heart 1.5s infinite ease-out;
  }

  /* 右下のハートのスタイル */
  .heart-button::after {
    animation: heart 1.5s 0.2s infinite ease-out;
  }
}
.brown {
  color: #7d534e;
  letter-spacing: 0.6px;
  margin-left: 26px;
}
.beige {
  color:rgb(169, 137, 118);
  margin-left: 23px;
}
.beige1 {
  color:rgb(169, 137, 118);
  letter-spacing: 0.6px;
  margin-left: 26px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu a {
  color: black;
}
.menu2 {
  margin-left: 14px;
}
.icon-area {
  padding-left: 45px;
}
.icon-area2 {
  padding-left: 55px;
}
.icon {
  height: 26px;
}

/*フッターのCSS*/
.footer {
  height: 60px;
  width: 100vw;
  border-top: 1px solid #CCCCCC;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 13px;
  padding-right: 20px;
  background-color: #927a6b;
  color: white;
}
.footer-address {
  margin-right: 20px;
  font-size: 13px;
}

/*トップページのコンテンツのCSS*/
.container {
	position: relative;
	max-width: 100%;
	height: 400px;
}

.image {
	position: absolute;
	width: 100%;
	opacity: 0;
	animation: change-img-anim 40s infinite;
  height: calc(100vh - 30px);
  object-fit: cover;
  vertical-align: bottom;
}

.image:nth-of-type(1) {
	animation-delay: 0s;
}
.image:nth-of-type(2) {
	animation-delay: 10s;
}
.image:nth-of-type(3) {
	animation-delay: 20s;
}
.image:nth-of-type(4) {
	animation-delay: 30s;
}

@keyframes change-img-anim {
  0%{ opacity: 0;}
  20%{ opacity: 1;}
  30%{ opacity: 1;}
  35%{ opacity: 0;}
  100%{ opacity: 0;}
}
.contents {
  width: 100vw;
}

.class-images {
  padding-top: 30px;
}

.class-intro {
  margin-top: 516px;
  height: 90px;
  width: 100%;
  padding: 31px 130px;
  font-size: 28px;
  background-color: #BC9692;
  color: white;
}
.text-area {
  padding: 140px 0 50px;
  text-align: center;
  display: block;
}
.box1 {
  position: relative;
  margin: 2em 0;
  padding: 3em 1em;
  border: solid 3px #E57F75;
  border-radius: 8px;
  width: 1100px;
  margin: 0 auto 140px;
}
.box1 .box-title1 {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  background: #FFF;
  color: #E57F75;
  font-weight: bold;
}
.box-title1 {
  font-size: 23px;
}
.box1 p {
  margin: 0; 
  padding: 0;
}
.box2 {
  position: relative;
  margin: 2em 0;
  padding: 3em 1em;
  border: solid 3px #BC9692;
  border-radius: 8px;
  width: 1100px;
  margin: 0 auto 140px;
}
.box2 .box-title2 {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  background: #FFF;
  color: #BC9692;
  font-weight: bold;
}
.box-title2 {
  font-size: 23px;
}
.box2 p {
  margin: 0; 
  padding: 0;
}
.box3 {
  position: relative;
  margin: 2em 0;
  padding: 3em 1em;
  border: solid 3px #927a6b;
  border-radius: 8px;
  width: 1100px;
  margin: 0 auto 140px;
}
.box3 .box-title3 {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  background: #FFF;
  color: #927a6b;
  font-weight: bold;
}
.box-title3 {
  font-size: 23px;
}
.box3 p {
  margin: 0; 
  padding: 0;
}
.box4 {
  margin: 2em 0;
  padding:3em 1em;/*内側余白*/
  position: relative;
  padding:1.5em !important;
  z-index: 0;
  background-color:#F5F1E8;/*背景色*/
  width: 1100px;
  margin: 0 auto 50px;
}
.box4:before{
  position: absolute;
  border: 2px dashed #A7A297;/*破線の太さ・色*/
  content: '';
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin:4px;
  z-index: -1;
  border-radius:10px;
  }
.text {
  font-size: 21px;
  text-align: left;
  display: inline-block;
  line-height: 40px;
}
#lesson-guide-id {
  height: 90px;
}
.lesson-guide {
  height: 90px;
  width: 100%;
  padding: 32px 110px;
  font-size: 26px;
  background-color: #d6bcab;
  color: white;
}
#instructor-intro-id {
  height: 90px;
}
.instructor-intro {
  height: 90px;
  width: 100%;
  padding: 32px 130px;
  font-size: 28px;
  background-color: #d6bcab;
  color: white;
}
.music-icon {
  height: 30px;
  vertical-align: middle;
  padding-bottom: 5px;
}
.instructor-area {
  display: flex;
  padding: 100px 0 10px;
  width:920px;
  margin: 0 auto;
}
.instructor-img {
  height: 480px;
  margin-right: 45px;
  margin-left: 50px;
  border-radius: 10px;
}
#inquiry-id {
  height: 90px;
}
.inquiry {
  height: 90px;
  width: 100%;
  padding: 32px 110px;
  font-size: 26px;
  background-color: #d6bcab;
  color: white;
}
.inquiry-text {
  width: 510px;
  margin: 0 auto;
}
.inquiry-area {
  padding: 90px;
}
.inquiry-guide {
  margin-bottom: 65px;
}
.method {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}
.line {
  padding: 1.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #06c755;/*文字色*/
  background: #FFF;
  border: solid 3px #06c755;/*線*/
  border-radius: 10px;/*角の丸み*/
  width: 400px;
  margin-right: 200px;
}
.line p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.phone {
  padding: 1.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #BC9692;/*文字色*/
  background: #FFF;
  border: solid 3px #BC9692;/*線*/
  border-radius: 10px;/*角の丸み*/
  width: 400px;
}
.phone p {
  margin: 0; 
  padding: 0;
  text-align: center;
}
.number {
  font-size: 28px;
  text-decoration: line-through #E57F75;
}
.line-qr {
  height: 200px;
  width: 200px;
}
.p-c-space {
  display: none;
}
@media screen and (max-width: 480px){

/*ヘッダーのCSS*/
.logo {
  font-size: 14px;
}
.heart-button {
  display: flex;
}
.logo1 {
  font-size: 13px;
  padding-left: 0px;
  padding-bottom: 0px;
  letter-spacing: 0.5px;
  margin-right: 6px;
  margin-top: 3px;
  padding-top: 0px;
}
.logo2 {
  padding-top: 1px;
  margin-top: 2px;
}
.sub-title {
  font-size: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100vw;
  border-bottom: 1px solid #CCCCCC;
  background-color: white;
  position: static;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
  padding-top: 5px;
}
/* ハートの共通スタイル */
.heart-button::before,
.heart-button::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 9px;
  height: 9px;
  position: absolute;
  opacity: 0;
  display: none;
}
.header-menu {
  display: none;
}
/*トップページのコンテンツのCSS*/
.text-area1 {
  position:relative;
}
.container {
	position: relative;
	max-width: 100%;
	height: 400px;
}
.image {
	position: absolute;
	width: 100%;
	opacity: 0;
	animation: change-img-anim 40s infinite;
  height: 600px;
  object-fit: cover;
  vertical-align: bottom;
}
.class-images {
  padding-top: 0px;
}
.class-intro {
  margin-top: 200px;
  height: 60px;
  width: 100%;
  padding: 21px 60px;
  font-size: 16px;
  background-color: #BC9692;
  color: white;
}
.piano {
  position:absolute;
  right: 18px;
  bottom: 14px;
  transform: rotate( 18deg );
  height: 110px;
}
.text-area {
  padding: 60px 30px;
  text-align: center;
  display: block;
}
.text {
  font-size: 13px;
  text-align: left;
  display: inline-block;
  line-height: 21px;
}
#instructor-intro-id {
  height: 0px;
}
.instructor-intro {
  height: 60px;
  width: 100%;
  padding: 21px 60px;
  font-size: 16px;
  background-color: #d6bcab;
  color: white;
}
.instructor-area {
  display: block;
  padding: 60px 0px;
  width:100%;
  margin: 0 auto;
}
.instructor-left {
  width: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.instructor-img {
  height: 250px;
  width: 150px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.instructor-right {
  width: 100%;
  margin: 0 auto;
}
.sp-text {
  text-align: center;
  width: 100%;
}
#lesson-guide-id {
  height: 0px;
}
.lesson-guide {
  height: 60px;
  width: 100%;
  padding: 21px 60px;
  font-size: 16px;
  background-color: #d6bcab;
  color: white;
}
.box1 {
  position: relative;
  margin: 2em 0;
  padding: 1.5em 1em;
  border: solid 1.5px #E57F75;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto 60px;
}
.box1 .box-title1 {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 5px 0 0;
  line-height: 1;
  background: #FFF;
  color: #E57F75;
  font-weight: bold;
}
.box-title1 {
  font-size: 11px;
}
.box1 p {
  margin: 0; 
  padding: 0;
}
.box2 {
  position: relative;
  margin: 1em 0;
  padding: 1.5em 1em;
  border: solid 1.5px #BC9692;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto 60px;
}
.box2 .box-title2 {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 5px 9px 0;
  line-height: 1;
  background: #FFF;
  color: #BC9692;
  font-weight: bold;
}
.box-title2 {
  font-size: 12px;
}
.box2 p {
  margin: 0; 
  padding: 0;
}
.box3 {
  position: relative;
  margin: 2em 0;
  padding: 1.5em 1em;
  border: solid 1.5px #927a6b;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto 60px;
}
.box3 .box-title3 {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 5px 9px 0;
  line-height: 1;
  background: #FFF;
  color: #927a6b;
  font-weight: bold;
}
.box-title3 {
  font-size: 12px;
}
.box3 p {
  margin: 0; 
  padding: 0;
}
.box4 {
  margin: 2em 0;
  padding:3em 1em;/*内側余白*/
  position: relative;
  padding:1.5em !important;
  z-index: 0;
  background-color:#F5F1E8;/*背景色*/
  width: 100%;
  margin: 0 auto;
}
.box4:before{
  position: absolute;
  border: 2px dashed #A7A297;/*破線の太さ・色*/
  content: '';
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin:4px;
  z-index: -1;
  border-radius:10px;
  }
.music-icon {
  height: 17px;
  vertical-align: middle;
  padding-bottom: 4px;
}
#inquiry-id {
  height: 0px;
}
.inquiry {
  height: 60px;
  width: 100%;
  line-height: 60px;
  text-align: center;
  text-align: left;
  padding: 0px;
  padding-left: 60px;
  font-size: 16px;
  background-color: #d6bcab;
  color: white;
}
.inquiry-text {
  width: 100%;
  margin: 0 auto;
}
.inquiry-area {
  padding: 30px;
}
.inquiry-guide {
  margin-bottom: 50px;
  margin-top: 20px;
}
.method {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.line {
  padding: 1em 0em;
  margin: 0;
  font-weight: bold;
  color: #06c755;/*文字色*/
  background: #FFF;
  border: solid 1.5px #06c755;/*線*/
  border-radius: 10px;/*角の丸み*/
  width: 100%;
  margin-right: 0px;
}
.line p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
}
.phone {
  padding: 1em 0em;
  margin: 2em 0 0;
  font-weight: bold;
  color: #BC9692;/*文字色*/
  background: #FFF;
  border: solid 1.5px #BC9692;/*線*/
  border-radius: 10px;/*角の丸み*/
  width: 100%;
}
.phone p {
  margin: 0; 
  padding: 0;
  text-align: center;
  font-size: 12px;
}
p.number {
  font-size: 22px;
  text-decoration: line-through #E57F75;
}
.line-qr {
  height: 150px;
  width: 150px;
}
.p-c-space {
  display: block;
}
.footer {
  height: 60px;
  width: 100vw;
  border-top: 1px solid #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding: 0px;
  background-color: #927a6b;
  color: white;
}
.footer-address {
  font-size: 10px;
  margin-right: 0px;
  display: none;
}
.t-space {
  display: none;
}
}